{
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "bracketSpacing": false,
        "singleQuote": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 80
      }
    }
  ],
  "printWidth": 120,
  "proseWrap": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
